<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

<!--        <property name="connection.url">jdbc:postgresql://127.0.0.1:5433/dictionaries?serverTimezone=UTC</property>-->
        <property name="connection.url">jdbc:postgresql://127.0.0.1:5433/traders?serverTimezone=UTC</property>
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">12345</property>

<!--        <property name="show_sql">true</property>-->
        <property name="format_sql">true</property>

        <property name="default_schema">public</property>

        <property name="hibernate.current_session_context_class">thread</property>
        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL95Dialect</property>

<!--        <mapping class="org.mama.GoldenThought.DAO.Entity.Dictionary"/>-->
<!--        <mapping class="org.mama.GoldenThought.DAO.Entity.Word"/>-->
        <mapping class="org.mama.secondProgect.DAO.Entity.Good"/>
        <mapping class="org.mama.secondProgect.DAO.Entity.GoodForWoman"/>
        <mapping class="org.mama.secondProgect.DAO.Entity.Trader"/>

        <!-- DB schema will be updated if needed -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->
    </session-factory>
</hibernate-configuration>
